h1{
font-family: 'Lobster', cursive;
text-align: center;
background-color: #CBFFA9;
border: solid #000000;
border-radius: 5px;
}

h3{
    background-color: #FF9B9B;
    border: dotted black;
    border-radius: 5px;

}

p{
   background-color: #FFFEC4;
   border: solid black;
   border-radius: 5px;
   text-align: center;
}

html{
    background-color: FFD6A5;
}

footer{
    text-align: center;
}

#back11{
    text-align: center;
    color: black;
}